<h1><%= @task.title %></h1>
<h2><%= @task.details %></h2>
<p>Status: <%= @task.completed ? "Done" : "To do" %></p>
<%= link_to 'Edit', edit_task_path(@task) %>
<%= link_to 'List of tasks', tasks_path %>
